.auth-buttons {
  display: flex;
  place-content: center;
  padding-top: 100px;
  gap: 30px;

  button {
    position: relative;
    background-color: #646cff;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: opacity, scale 0.3s;
    overflow: hidden;

    &:hover {
      opacity: 0.7;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      inset: 0;
      background: #646cff;
      opacity: 0;
      translate: 100% 0;
      transition: all 0.8s;
    }

    &:active:after {
      opacity: 1;
      translate: 0;
      transition: 0s;
    }
  }
}

.current-right {
  padding-top: 50px;

  h3,
  h1 {
    margin: 0;
  }
}
